<launch>
        <node name="joy_node" pkg="joy" type="joy_node"></node>
        <node name="joy_to_cmd_node" pkg="joy_to_cmd_node" type="joy_to_cmd_node.py"></node>
        <node name="flask_sub_node" pkg="flask_node" type="flask_node.py"></node>
	<node name="web_video_node" pkg="web_video_server" type="web_video_server"></node>
</launch>
